@model projetoihc.Models.Clientes

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h1>Excluir Cliente</h1>

<h3>Tem certeza de que deseja excluir este cliente?</h3>
<div>
    <h4>Detalhes do Cliente</h4>
    <hr />
    @await Html.PartialAsync("ClienteDetails", Model)

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
    </form>
</div>
